.banner {
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../../images/background.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  padding: 180px 0;
  text-align: center;
}

.banner h1 {
  font-size: 56px;
  margin-bottom: 20px;
}